:root {
	--white: white;
	--beige: #eee6cc;
	--light-beige: #faf5e4;
	--light-red: #e8565e;
	--black: #2a2a2a;
	--semi-black: #3d3d3d;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: inherit;
}

html {
	font-size: 22px;
	font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
	font-family: "GrandHotel";
	font-weight: 400;
	color: var(--light-red);
}

h1 {
	font-size: 11.36rem;
	color: inherit;
}
h2 {
	font-size: 5.68rem;
}
h3 {
	font-size: 3rem;
}

button, input {
	margin: auto;
	font-weight: 700;
	background-color: var(--light-red);
	color: var(--white);
	margin: 0;
	font-size: 1.13rem;
	padding: 1.13rem 3.86rem;
	border-radius: 3.86rem;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.2s;
}

button:hover {
	box-shadow: 0 0 0.5rem var(--light-red);
	text-shadow: 0 0 0.25rem var(--white);
}

button:active {
	box-shadow: 0 0 0.5rem var(--semi-black);
	text-shadow: 0 0 0.25rem var(--semi-black);
}

input {
	background-color: var(--white);
	position: relative;
	padding: 0.5rem 3.86rem;
	border-radius: 3.86rem;
	border: none;
	color: var(--black);
	text-transform: none;
	font-weight: 400;
}

input::placeholder {
	text-transform: capitalize;
	font-weight: 400;
}

input:focus {
	outline: none;
	border: none;
}

.container {
	position: relative;
}

.background-container {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: var(--light-red);
}

.background-container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: bottom;
	mix-blend-mode: multiply;
}

.bg-red-filter {
	background-color: var(--light-red);
	filter: contrast(1.2) brightness(1.2) opacity(0.95);
}

.bg-white-filter {
	background-color: var(--white);
	filter: grayscale(0.4) contrast(0.5) brightness(1.5) opacity(0.3);
}

.bg-beige-filter {
	background-color: var(--beige);
	/* filter: grayscale(0.4) contrast(0.5) brightness(1.5) opacity(0.3); */
}

.wrapper {
	max-width: 1220px;
	margin: 0 auto;
	padding: 2.5rem 0;

	display: flex;
	flex-direction: column;
	gap: 2rem;
	text-align: center;
}

.subtitle {
	font-size: 1.35rem;
}

.col-1 {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
}
.col-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}
.col-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	place-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.3rem;
	border-radius: 1rem;
}

/* navigation-container */
.navigation-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	margin-bottom: 55px;
	font-size: 25px;
}
.navigation-container nav {
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
}

/* Header */
header {
	color: var(--white);
	font-size: 1.31rem;
}
header button {
	margin: 2rem auto;
	background-color: var(--white);
	color: var(--light-red);
}

/* Popular */
.popular-container {
	color: var(--semi-black);
}
.popular-container .card {
	max-width: 340px;
	min-width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}
.popular-container .card img {
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}

/* Statistic */
.statistic-container, .statistic-container h2, .statistic-container h3 {
	color: var(--white);
}
.statistic-container .card {
	width: 272px;
	border: 4px dashed var(--white);
	aspect-ratio: 1/1;
	border-radius: 50%;
}
.statistic-container .card p {
	font-weight: 500;
	font-size: 2.27rem;
	text-transform: capitalize;
}
.statistic-container .card p:first-child {
	font-weight: 700;
	font-size: 3.05rem;
	text-transform: uppercase;
}

/* OurMenu */
.ourmenu-container .card {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 10px 40px;
	text-align: start;
}
.ourmenu-container .card img {
	grid-column: 1/2;
	grid-row: 1/3;
}

/* Template */
.template-container {
	background-color: var(--light-beige);
	min-height: 970px;
}
.template-container .container {
	grid-template-rows: 970px;
}
.template-container .background-container {
	z-index: 1;
}
.template-container .background-container img {
	object-position: right;
}
.template-container section{
	position: relative;
	text-align: start;
	justify-content: center;
}
.template-container button {
	margin-right: auto;
}

/* PackageMenu */
.packagemenu-container {
	background-color: var(--beige);
}
.packagemenu-container .cards {
	grid-gap: 2rem;
}
.packagemenu-container .card {
	background-color: var(--light-beige);
	gap: 1.3rem;
	height: 100%;
	justify-content: space-between;
}
.packagemenu-container .card img {
	width: 100%;
	height: 200px;
	object-fit: none;
	object-position: center;
}
.packagemenu-container button {
	width: 100%;
}

/* ChifRenatta */
.chifrenatta-container .wrapper {
	align-items: center;
	gap: 2.5rem;
}
.chifrenatta-container p {
	font-size: 50px;
	font-weight: 600;
	width: 90%;
}
.chifrenatta-container .photo {
	width: 320px;
	border-radius: 50%;
}

/* Subscribe */
.subscribe-container {
	background-color: var(--beige);
}
.subscribe-container form {
	background-color: var(--white);
	border-radius: 50%;
	margin: 0 auto;
	display: flex;
	gap: 1rem;
}

/* Footer */
footer {
	background-color: var(--black);
	color: var(--white);
	font-size: 1.1rem;
}
footer h2,
footer h3 {
	color: inherit;
	line-height: 4rem;
}
footer h2 {
	font-size: 2.45rem;
}
footer h3 {
	font-size: 1.75rem;
}
footer li {
	margin: 0.5rem 0;
}
footer li a {
	display: inline-flex;
	gap: 1rem;
}
footer img {
	width: 1.31rem;
	aspect-ratio: 1/1;
}
footer .wrapper {
	text-align: start;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 3rem;
	padding-top: 5rem;
	padding-bottom: 6rem;
}